<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Welcome</title>
</head>
<body>
    <div class="container my-5 py-5">
        <h1 class="mb-4">Sejong AIDS Image Crawler</h1>
        {% if current_user.is_authenticated %}
            <p>Welcome back! Go to the <a href="{{ url_for('search') }}" class="text-primary">search</a> page or <a href="{{ url_for('logout') }}" class="text-primary">logout</a>.</p>
        {% else %}
            <p>To use this, please <a href="{{ url_for('login') }}" class="text-primary">login</a> or <a href="{{ url_for('signup') }}" class="text-primary">sign up</a> to continue.</p>
        {% endif %}
    </div>
    <div class="footer d-flex justify-content-between align-items-center px-3">
        <div>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('search') }}" class="btn btn-link">Search</a>
                <a href="{{ url_for('logout') }}" class="btn btn-link">Logout</a>
                <a href="{{ url_for('saved_images') }}" class="btn btn-link">Saved Images</a> <!-- 하단 바에 저장된 이미지 버튼 추가 -->
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-link">Login</a>
                <a href="{{ url_for('home') }}" class="btn btn-link">Home</a>
            {% endif %}
        </div>
        <p class="mb-0">&copy; 2024 Sejong University AIDS. All rights reserved.</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
</body>
</html>
